/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    macros {
        wp1: wp1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N1 &kp N1 &kp N2 &kp N7>;
            label = "WP1";
        };

        wp2: wp2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(J) &kp LS(T) &kp LS(B) &kp I &kp R &kp C &kp H &kp W &kp O &kp D &kp DLLR &kp N2 &kp ENTER>;
            label = "WP2";
        };

        wp3: wp3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(I) &kp N &kp T &kp E &kp N &kp DLLR &kp J &kp T &kp N1 &kp RET>;
            label = "WP3";
        };

        nu1: nu1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp J &kp O &kp N &kp A &kp T &kp H &kp A &kp N &kp DOT &kp T &kp A &kp N &kp G &kp N2 &kp TAB>;
            label = "NU1";
        };

        solidworks1: solidworks1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp SPACE &kp PIPE &kp SPACE>;
            label = "SOLIDWORKS1";
        };

        solidworks2: solidworks2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp SPACE &kp MINUS &kp SPACE>;
            label = "SOLIDWORKS2";
        };

        BT_CLEAR0: BT_CLEAR0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 0 &bt BT_CLR>;
            label = "BT_CLEAR0";
        };

        BT_CLEAR1: BT_CLEAR1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 1 &bt BT_CLR>;
            label = "BT_CLEAR1";
        };

        BT_CLEAR2: BT_CLEAR2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 2 &bt BT_CLR>;
            label = "BT_CLEAR2";
        };

        BT_CLEAR3: BT_CLEAR3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 3 &bt BT_CLR>;
            label = "BT_CLEAR3";
        };

        BT_CLEAR4: BT_CLEAR4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &bt BT_SEL 4 &bt BT_CLR>;
            label = "BT_CLEAR4";
        };

        boards: boards {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp SPACE &kp B &kp O &kp A &kp R &kp D &kp S>;
            label = "BOARDS";
        };
    };

    behaviors {
        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 1>;

            tapping-term-ms = <200>;
        };

        td2: td2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD2";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&mo 3>;

            tapping-term-ms = <200>;
        };

        td_bt0: td_bt0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BT0";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&bt BT_CLR>;
        };

        td_bt1: td_bt1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BT1";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&bt BT_CLR>;
        };

        td_bt2: td_bt2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BT2";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&bt BT_CLR>;
        };

        td_bt3: td_bt3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BT3";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&bt BT_CLR>;
        };

        td_bt4: td_bt4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BT4";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&bt BT_CLR>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            label = "DEFAULT";
            bindings = <
&kp ESC             &kp N1  &kp N2  &kp N3        &kp N4    &kp N5                                         &kp N6  &kp N7     &kp N8     &kp N9   &kp N0                     &kp BACKSLASH
&kp TAB             &kp Q   &kp W   &kp E         &kp R     &kp T                                          &kp Y   &kp U      &kp I      &kp O    &kp P                      &kp BACKSPACE
&mt LCTRL CAPSLOCK  &kp A   &kp S   &kp D         &kp F     &kp G                                          &kp H   &kp J      &kp K      &kp L    &mt RIGHT_SHIFT SEMICOLON  &kp SQT
&kp LSHFT           &kp Z   &kp X   &kp C         &kp V     &kp B   &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp N   &kp M      &kp COMMA  &kp DOT  &kp FSLH                   &kp DEL
                                    &kp LEFT_GUI  &kp LALT  &td1    &kp SPACE           &kp RET            &mo 2   &kp MINUS  &kp EQUAL
            >;
        };

        WORK {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            label = "WORK";
            bindings = <
&trans  &trans  &trans    &trans    &trans             &trans                                                       &kp LC(PAGE_UP)     &kp LC(PAGE_DOWN)  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_MINUS  &trans
&trans  &trans  &trans    &kp UP    &trans             &trans                                                       &mkp RCLK           &kp KP_N7          &kp KP_N8      &kp KP_N9        &kp KP_PLUS   &trans
&trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT          &kp PERCENT                                                  &mkp LCLK           &kp KP_N4          &kp KP_N5      &kp KP_N6        &kp KP_PLUS   &kp LEFT_ALT
&trans  &trans  &trans    &trans    &solidworks1       &solidworks2  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &trans              &kp KP_N1          &kp KP_N2      &kp KP_N3        &kp PERCENT   &trans
                          &trans    &kp DOUBLE_QUOTES  &to 0         &trans                  &trans                 &mo 2               &kp KP_N0          &kp KP_DOT
            >;
        };

        FUNCTION {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            label = "FUNCTION";
            bindings = <
&to 3      &to 4   &trans  &trans          &trans    &trans                                               &wp1    &wp2              &nu1            &wp3             &trans  &trans
&kp GRAVE  &trans  &trans  &trans          &trans    &trans                                               &trans  &trans            &trans          &trans           &trans  &trans
&kp F1     &kp F2  &kp F3  &kp F4          &kp F5    &kp F6                                               &trans  &kp LS(LEFT_GUI)  &kp LEFT_ARROW  &kp RIGHT_ARROW  &trans  &trans
&kp F7     &kp F8  &kp F9  &kp F10         &kp F11   &kp F12       &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &trans  &trans            &trans          &trans           &trans  &trans
                           &kp KP_NUMLOCK  &kp LALT  &kp CAPSLOCK  &trans              &trans             &to 0   &kp RIGHT_ALT     &trans
            >;
        };

        BT {
            bindings = <
&to 0  &td_bt0       &td_bt1       &td_bt2       &td_bt3       &td_bt4                                      &to 0       &to 0       &to 0       &to 0       &to 0       &out OUT_TOG
&to 0  &to 0         &to 0         &to 0         &to 0         &to 0                                        &to 0       &to 0       &to 0       &to 0       &to 0       &to 0
&to 0  &to 0         &to 0         &to 0         &to 0         &to 0                                        &to 0       &to 0       &to 0       &to 0       &to 0       &to 0
&to 0  &to 0         &to 0         &to 0         &to 0         &to 0         &bootloader     &bootloader    &to 0       &to 0       &to 0       &to 0       &to 0       &to 0
                                   &to 0         &to 0         &to 0         &to 0           &to 0          &to 0       &to 0       &to 0
            >;

            label = "BT";
        };

        GAME {
            bindings = <
&kp ESCAPE        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3       &kp NUMBER_4  &kp N5                                 &to 0  &to 0  &to 0  &to 0  &to 0  &to 0
&kp TAB           &kp Q         &kp W         &kp E              &kp R         &kp T                                  &to 0  &to 0  &to 0  &to 0  &to 0  &to 0
&kp LEFT_BRACKET  &kp A         &kp S         &kp D              &kp F         &kp G                                  &to 0  &to 0  &to 0  &to 0  &to 0  &to 0
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C              &kp V         &kp B      &kp BACKSLASH    &to 0      &to 0  &to 0  &to 0  &to 0  &to 0  &to 0
                                              &kp RIGHT_BRACKET  &kp LEFT_ALT  &kp LCTRL  &kp SPACE        &kp ENTER  &to 0  &to 0  &to 0
            >;

            label = "GAME";
        };
    };
};
